<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:14Z</date>
		<key>actualSize</key>
		<integer>1891</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:12Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:49Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>B48D1A5D-8C84-4C8A-B96B-6BCF898C433B</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:43:29Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/opposite_view.txt</string>
		<key>originalSize</key>
		<integer>1891</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>F34DD0C8-64C3-4F2C-9E91-7204FD3A5BF0</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
