<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:13Z</date>
		<key>actualSize</key>
		<integer>1204</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:13Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:47Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>F62E55C1-06EA-4FE2-AEFB-CD7D5B8E1A8C</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:44:08Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/help_me_suzanne.txt</string>
		<key>originalSize</key>
		<integer>1204</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>1378509672</integer>
				<key>fileType</key>
				<integer>1413830740</integer>
				<key>id</key>
				<string>A022FE9F-7476-4DF1-B8C3-ECF27752C9DB</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
