<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:13Z</date>
		<key>actualSize</key>
		<integer>11468</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:14Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:47Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>5B25E9EE-8287-4ACD-A0CB-15B4BB5D56AA</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:49:32Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/going_to_california.txt</string>
		<key>originalSize</key>
		<integer>11468</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>4A0F93DC-6AF4-4B43-BA4F-23A7FC2E7B8B</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
