<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:13Z</date>
		<key>actualSize</key>
		<integer>1561</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:14Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:47Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>2194AAB5-683C-4E49-ABBA-1CD425D5951C</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:43:28Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/feel_free.txt</string>
		<key>originalSize</key>
		<integer>1561</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>B41FD4DA-FDB4-4E76-B04B-5BBF2B23B2DE</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
