<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:12Z</date>
		<key>actualSize</key>
		<integer>778</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:14Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:46Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>8E7F1387-3A39-4AD0-A6E8-AF8C78946598</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:43:39Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob_dylans_beard.txt</string>
		<key>originalSize</key>
		<integer>778</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>3380C566-D2FF-4AC8-929C-24256BC7B74F</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
