<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:07Z</date>
		<key>actualSize</key>
		<integer>2396</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:16Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:32Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>E1F7BCCD-4AAF-4EAF-BF40-7659191AE746</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:43:06Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/always_the_last_to_know.txt</string>
		<key>originalSize</key>
		<integer>2396</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>DF46A901-3861-45B9-B33C-40F7A537E36A</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
