<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:14Z</date>
		<key>actualSize</key>
		<integer>1479</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:11Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:50Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>D79BC284-EA67-42FB-80BE-1D5618C7D359</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:43:06Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/secretariat.txt</string>
		<key>originalSize</key>
		<integer>1479</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>92CC5E92-B8BA-4C8E-8FE7-B31CA66E243E</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
