<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:14Z</date>
		<key>actualSize</key>
		<integer>2654</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:11Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:50Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>DEBF5E21-D9CB-40F0-8BA4-63BA4113A89F</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:43:25Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/say_you'll_miss_me.txt</string>
		<key>originalSize</key>
		<integer>2654</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>46C0D79D-0844-43C7-BC88-EB208B965E90</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
