<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:14Z</date>
		<key>actualSize</key>
		<integer>2632</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:11Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:50Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>7B48B484-0EB2-4939-89CD-9260573929FE</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:43:00Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/satan_your_kingdom_must_come_down.txt</string>
		<key>originalSize</key>
		<integer>2632</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>91E7EAC3-11F4-4C14-A928-6A0DADDA3EAD</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
