<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:14Z</date>
		<key>actualSize</key>
		<integer>1904</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:10Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:51Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>3B176C21-EC79-4639-BFE5-9D5A2BBC22EA</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:43:45Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/when_i_want_you.txt</string>
		<key>originalSize</key>
		<integer>1904</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>E12380CF-48B8-4444-AE1F-B1A0F1989E85</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
