<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:10Z</date>
		<key>actualSize</key>
		<integer>4612</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:16Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:07Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>D057CF11-A3F7-40C1-9E91-6C57E845E3B7</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:45:17Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/34_bootleg/foot_of_pride.htm</string>
		<key>originalSize</key>
		<integer>4612</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>AE2211DF-DADF-431C-BB8B-E58652026F4C</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
