<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:08Z</date>
		<key>actualSize</key>
		<integer>2346</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:15Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:55Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>AD80C3B3-C8B8-493C-BF3D-E9FC8C3CADA0</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:48:23Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/00_misc/grand_coulee_dam.htm</string>
		<key>originalSize</key>
		<integer>2346</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>112083C6-36A2-467C-B01D-808303C62926</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
