<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:07Z</date>
		<key>actualSize</key>
		<integer>3760</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:15Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:54Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>9AA674A2-ABB7-40F5-BA42-477459756C51</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:48:25Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/00_misc/city_of_gold.htm</string>
		<key>originalSize</key>
		<integer>3760</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>9E9E666D-58B1-4238-AA9E-DC85B1F522BD</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
