<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:08Z</date>
		<key>actualSize</key>
		<integer>1829</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:15Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:58Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>C70DAF8B-6028-4D3E-8067-CEC0C04D6D1F</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:47:58Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/00_misc/we_just_disagree.htm</string>
		<key>originalSize</key>
		<integer>1829</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>CE099B80-3647-4FF6-AD70-81C2725ACFB3</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
