<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:13Z</date>
		<key>actualSize</key>
		<integer>3174</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:12Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:15Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>FE1EDA2C-49F0-4793-8AF8-3EEF82FF1BFC</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:44:25Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/nick drake/chrisday.html</string>
		<key>originalSize</key>
		<integer>3174</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>B150DB27-8DD4-4240-BDFD-D5F3FE193C33</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
