<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:13Z</date>
		<key>actualSize</key>
		<integer>4562</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:12Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:15Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>E5BD4C0B-0D72-4B0A-88AE-D91A0496A193</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:44:19Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/nick drake/boyce2.html</string>
		<key>originalSize</key>
		<integer>4562</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>15213A44-1B5C-42D8-9169-41F541549AF4</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
