<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:14Z</date>
		<key>actualSize</key>
		<integer>6113</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:12Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:17Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>E8693190-981C-48D7-95E8-2DE5E211BD35</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:44:18Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/nick drake/shedtab.html</string>
		<key>originalSize</key>
		<integer>6113</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>54CF8E06-60F9-499A-926A-DBE2A06CB4FF</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
