<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:09Z</date>
		<key>actualSize</key>
		<integer>2203</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:16Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:03Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>9B35B5D8-87E8-4AAE-AA67-6D4C4EE4B4DA</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:47:08Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/17_basement/banks_of_the_royal_canal.htm</string>
		<key>originalSize</key>
		<integer>2203</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>AFFD2291-85F8-4E3B-9D11-E41BBDC45312</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
