<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:09Z</date>
		<key>actualSize</key>
		<integer>2136</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:16Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:03Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>1D06668A-5F11-4D1C-A030-41AF44327C52</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:47:09Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/17_basement/one_single_river.htm</string>
		<key>originalSize</key>
		<integer>2136</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>C5254D19-D0C7-4DB2-9880-3940477906F6</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
