<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:09Z</date>
		<key>actualSize</key>
		<integer>2217</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:16Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:02Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>3A9F39FF-28A8-412B-B512-F1274649E4E0</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:47:21Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/14_planetwaves/something_there_is.htm</string>
		<key>originalSize</key>
		<integer>2217</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>97D27071-2617-4B92-8DE3-85E36C6BFF3A</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
