<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:11Z</date>
		<key>actualSize</key>
		<integer>7386</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:16Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:09Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>7D3C52C6-1819-4B5A-B9B4-64490F19D8C6</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:46:11Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/42_bs5/live1975.jpg</string>
		<key>originalSize</key>
		<integer>7386</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>AF816E3E-AB49-4210-AA0E-C9193B56461A</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
