<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:09Z</date>
		<key>actualSize</key>
		<integer>4070</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:15Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:01Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>EC95666A-DAC5-4A60-9695-F523D011DBEB</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:47:16Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/09_nashville/tell_me_that_it_isnt_true.htm</string>
		<key>originalSize</key>
		<integer>4070</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>2B47C430-44B7-4B31-8008-8054C6919954</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
