<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:11Z</date>
		<key>actualSize</key>
		<integer>7777</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:16Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:41:52Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>2349D105-F5E5-46EF-AE81-CFB0F8F05C2F</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:48:47Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/covers_on_the_net_1988.htm</string>
		<key>originalSize</key>
		<integer>7777</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>32CE9A67-D08D-49D6-8E5C-F4B29C5E4C85</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
