@charset "utf-8";
.f_albus {
	font-family: "Palatino Linotype", "Palatino", "Times New Roman", "Athena", "Arial Unicode MS", "Georgia Greek", "MgAvantG UC Pol", "Cardo", "Code2000", "MgOldTimes UC Pol", "Silver Humana", "TITUS Cyberbit Basic", "Vusillus Old Face";
	font-size : 10pt;
	line-height : 13pt;
	color : #FFFFCC;
}
