@charset "utf-8";
.f_fuscusg {
	font-family: "Palatino Linotype", "Athena", "Arial Unicode MS", "Georgia Greek", "MgAvantG UC Pol", "Cardo", "Code2000", "MgOldTimes UC Pol", "Silver Humana", "TITUS Cyberbit Basic", "Vusillus Old Face";
	font-size : 14pt;
	line-height : 18pt;
	color : #663300;
}
