@charset "utf-8";
.f_textus {
	font-family: "Palatino Linotype", "Palatino", "Athena", "Arial Unicode MS", "Georgia Greek", "MgAvantG UC Pol", "Cardo", "Code2000", "MgOldTimes UC Pol", "Silver Humana", "TITUS Cyberbit Basic", "Vusillus Old Face";
	font-size : 10pt;
	line-height : 13pt;
	color: #111133;
}

		.f_textus a:link { text-decoration: underline; color:#000099}
		.f_textus a:visited { text-decoration: underline; color:#000099}
		.f_textus a:active { text-decoration: underline; color:#990000}
		.f_textus a:hover { text-decoration: underline; color: #990000}