<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:09Z</date>
		<key>actualSize</key>
		<integer>3030</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:16Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:04Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>2E90270A-0964-4577-9D65-E1D2491E0DD2</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:45:43Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/20_streetlegal/baby_stop_crying.htm</string>
		<key>originalSize</key>
		<integer>3030</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>55341B02-F970-4E73-9A5F-39FDE3FEED0F</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
