<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:09Z</date>
		<key>actualSize</key>
		<integer>3991</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:16Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:02Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>B2F2D7F0-D3C9-4DFB-9E4B-BDF3775349A7</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:49:17Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/13_dylan/ballad_of_ira_hayes.htm</string>
		<key>originalSize</key>
		<integer>3991</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>0E9924E7-BE9B-4814-86B8-9409AE4BAC81</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
