<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:10Z</date>
		<key>actualSize</key>
		<integer>3447</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:16Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:08Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>92327852-7735-455B-B211-0842A02C503B</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:47:36Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/bob dylan/37_unplugged/dignity.htm</string>
		<key>originalSize</key>
		<integer>3447</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>7F9467AA-0E17-4FBA-BFAE-1130FA20AF1C</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
