<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:12Z</date>
		<key>actualSize</key>
		<integer>574</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:15Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>DC6C411D-D597-4FD6-8A74-0A6C3A78C8A0</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:41:50Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/del amitri/line1.gif</string>
		<key>originalSize</key>
		<integer>574</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>662B739A-AA4B-430D-A38D-CFD074A87EA1</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
