<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:12Z</date>
		<key>actualSize</key>
		<integer>2159</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:15Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:12Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>5C1D4878-7FA7-4E09-9332-984040BFDE99</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:41:59Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/del amitri/food_for_songs.htm</string>
		<key>originalSize</key>
		<integer>2159</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>914DA236-70C4-4D98-85D9-8B45165EE9F7</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
