<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:12Z</date>
		<key>actualSize</key>
		<integer>5522</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:15Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:13Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>278BF989-C915-4F70-A2B6-03F464500EF4</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:40:57Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/del amitri/n_tell_her_this.htm</string>
		<key>originalSize</key>
		<integer>5522</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>A7234E3E-EB2B-46D9-9E7A-4D5B07EDC8FA</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
