<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2008-06-09T01:45:12Z</date>
		<key>actualSize</key>
		<integer>8636</integer>
		<key>attributeModDate</key>
		<date>2007-02-24T19:43:15Z</date>
		<key>createDate</key>
		<date>1904-01-01T00:00:00Z</date>
		<key>creationDate</key>
		<date>2008-06-10T02:42:12Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>CEB2ED4A-0053-4ABB-A62F-918A70DEFF50</string>
		<key>lastModifiedDate</key>
		<date>2006-10-05T17:41:49Z</date>
		<key>originalPath</key>
		<string>/Users/mike/Music/tabs/del amitri/iain.jpg</string>
		<key>originalSize</key>
		<integer>8636</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>7C922F77-2B04-42F4-8ED4-D7CF40E04D77</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>502</integer>
				<key>ownerUID</key>
				<integer>502</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
